body {
    background-color: #000000;
    color: #00ffff;
}

.row {
    height: 112px;
    width: 336px;
}

#gameField {
    height: 306px;
    width: 306px;
}



.cell {
    min-width: 106px;
    min-height: 106px;
    max-width: 106px;
    max-height: 106px;
    border: 3px solid #00ffff;
    display: inline-block;
    
}

#formsUmfrage {
    visibility: hidden;
}